html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #f5f5f1;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

header {
  background-color: #fff;
  width: 100%;
  height: 80px; }

.header-info {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }
  .header-info::after {
    clear: both;
    content: "";
    display: table; }

.browse-button {
  color: #280000; }

.sign-in-button {
  color: #4ca1c4; }

.cart {
  border-left: 1px solid; }

.info-box {
  height: 70px; }

aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  aside:last-child {
    margin-right: 0; }

.categories {
  min-height: 400px;
  background-color: #fff;
  border: 1px solid #cbccc9; }

h5 {
  color: #280000;
  font-weight: 400;
  margin: 0; }

.category-list ul {
  color: #4ca1c4;
  text-decoration: none; }

.container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.products {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .products:last-child {
    margin-right: 0; }

.product {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%;
  background-color: #fff;
  border: 1px solid #cbccc9;
  margin-bottom: 20px; }
  .product:last-child {
    margin-right: 0; }
  .product:nth-child(3n) {
    margin-right: 0; }
  .product:nth-child(3n+1) {
    clear: left; }

.product img {
  width: 100%;
  background-color: #f5f5f1;
  max-height: 160px;
  border: none; }

.product-info {
  padding: 8px; }

.description {
  overflow-x: hidden;
  height: 16px; }

.source {
  color: #cbccc9;
  font-size: 12px; }

.price {
  font-size: 12px;
  color: #91c042;
  float: right; }
