@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

@import "variables";

body {
  background-color: $lighter-gray;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
button:focus {
  outline: none;
}
/*========================
    header section start
==========================*/
header {
  background-color: #fff;
  width: 100%;
  height: 80px;
  @include shadow-bottom();
}
.header-info {
  @include outer-container(980px);
}
.logo img{
  margin-top: 25px;
}
#search-input,
.search-box-button,
.browse-button,
.sign-in-button{
  vertical-align: top;
  margin-top: 25px;
  height: 35px;
}
#search-input{
  margin-left: 20px;
  width: 225px;
  @include border();
  @include border-left-radius(4px);
  -webkit-box-shadow: inset 1px 1px 1px $light-gray;
  -moz-box-shadow: inset 1px 1px 1px $light-gray;
  box-shadow: inset 1px 1px 1px $light-gray;
  background-color: rgba(251, 251, 250, 1);
  color: $dark-color;
}
.search-box-button {


  @include button();
  @include blue-white();
  @include border-right-radius(4px);
}

.browse-button {
  margin-left: 20px;
  padding-left: 2px;
  @include button();
  @include white-gray();
  @include with-radius();

}
span.triangle{
  float: right;
  margin-top: 7px;
  @include triangle(10px, $medium-gray, down)
}
.login {
  float: right;
}
.register{
  margin-top: 35px;
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  color: $blue-color;
  text-decoration: none;
}
.register:hover {
  text-decoration: underline;
}
.sign-in-button {
  @include button();
  @include with-radius();
  @include white-blue();

  width: 60px;
}
.sign-in-button:focus {
  outline: none;
}
.cart {
  border-left: 1px solid $lighter-gray;
  height: 42px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 15px;
  padding-left: 11px;
  margin-bottom: -3px;
}
/*=====================
    info box start
=======================*/
.info-box {
  height: 50px;
  font-size: 0.9em;
}
.info-box h5{
  @include span-columns(3);
  padding: 25px 0 0 0;
}
.sort-conditions {
  @include span-columns(9);
  line-height: 16px;
  font-size: .9em;
}
span.breadcrumbs {
  display: inline-block;
  /* vertical-align: top; */
  margin: 24px 0 0 0;
  color: $blue-color;
}
span .breadcrumb-location {
  color: #000;
  font-weight: bold;
}

.sort-by {
  float: right;
  margin-top: 24px;
  padding-right: 10px;
}
.sort-by span {
  color: $blue-color;
  text-decoration: none;
  position: relative;

}
.sort-by span::after {
  content:"";
  @include triangle(10px, $light-gray, down);
  position: absolute;
  top: 5px;
  right: -15px;
}

/*========================
    aside section start
=========================*/
aside {
  @include span-columns(3)

}
.categories,
.refine-search{
  min-height: 400px;
  background-color: #fff;
  padding: 15px;
  @include with-radius();
}

h5,
h4{
  color: $dark-color;
  font-weight: 400;
  margin: 0;
}
.categories h5,
.info-box h5{
  font-weight: bold;
}
.categories h5:hover{
  text-decoration: underline;
}
ul.category-list {
  color: $blue-color;
  text-decoration: none;
  padding-left: 10px;
  margin-top: 0;
}
.category-list li {
  padding-top: 10px;
  font-size: 0.8em;
  list-style-type: none;

}
.category-list li:hover  {
  text-decoration: underline;
}

/*========================
    aside- refine search
=========================*/
.search-h5 {
  margin: 25px 0 15px 0;
  font-weight: bold;
  font-size: 0.8em;
}
.refine-search h5 {
  font-weight: bold;
}
.refine-ul {
  padding: 0 0 25px 0;
  list-style-type: none;
  margin-top: 9px;
  border-bottom: 1px solid $light-gray;

}
.refine-ul li {
  margin-bottom: 7px;
}
.refine-ul input[type="radio"] {
  display: none;
}
.refine-ul input[type="radio"] +label {
  color: $blue-color;
  font-size: .8em;
}
.refine-ul input[type="radio"] +label:hover {
  text-decoration: underline;
}
.refine-ul input[type="radio"] +label span {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #fff;
  border: 1px solid $light-gray;
  border-radius: 50%;
  position: relative;
}
.refine-ul input[type="radio"] +label .radio-button {
  visibility: hidden;
  width: 10px;
  height: 10px;
  background-color: #4ca1c4;
  border-color: #4ca1c4;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.refine-ul input[type="radio"]:checked + label .radio-button{
  visibility: visible;
  color: $dark-color;
}
.refine-ul input[type="radio"]:checked + label {
  color: $dark-color;
  font-weight: bold;
}

/*========================
    aside- price range
=========================*/
.price-range {
  padding-bottom: 20px;
  border-bottom: 1px solid $light-gray;
}

.price-range h5 {
  font-weight: bold;
  margin: 22px 0 12px 0;
}
input.high,
input.low{
  display: inline-block;
  vertical-align: top;
  width: 46px;
  margin-top: -2px;
  padding-left: 6px;
  border: none;
  color: #cbccc9;
  font-size: 1.1em;


}
span.price-range-box,
.search-price-range{
  display: inline-block;
  height: 39px;
  @include with-radius();

}
.price-range-box {
  width: 66px;
  color: $dark-color;
  padding: 10px 0 0 10px;
  font-size: .8em;
}
.price-range-box.lo {
  position: relative;

}
.price-range-box.hi{
  margin-left: 14px;
}
.lo::after{
  content: 'to';
  position: absolute;
  right: -16px;
}
.price-range button {
  height: 39px;
  width: 39px;
  background-color: #fff;
  vertical-align: bottom;
  @include with-radius();
}
span.search-price-range  {

  @include triangle(15px, $dark-color, right);
}

/*========================
    aside- filter by color
==========================*/
.filter-by-color {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;

}
.filter-by-color h5 {
  font-weight: bold;
  font-size: .8em;
}
.filter-by-color ul {
  padding: 0;
  text-decoration: none;
}
.filter-by-color li {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;

  @include with-radius();
  border-radius: 2px;


}
.color-filter-1{
  background-color: rgba(244, 11, 50, 1);
}
.color-filter-2{
  background-color: rgba(255, 127, 0, 1);
}
.color-filter-3{
  background-color: rgba(243, 204, 12, 1);
}
.color-filter-4{
  background-color: rgba(10, 194, 10, 1);
}
.color-filter-5{
  background-color: rgba(12, 204, 243, 1);
}
.color-filter-6{
  background-color: rgba(166, 12, 243, 1);
}
.color-filter-7{
  background-color: rgba(0, 0, 0, 1);
}
.color-filter-8{
  background-color: rgba(255, 255, 255, 1);
}

/*========================
    aside- ordering-options
==========================*/
.ordering-options {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;

}
.ordering-options h5 {
  font-weight: bold;
  font-size: .8em;
}
.ordering-options ul {
  padding: 0;
  text-decoration: none;
}
.ordering-options li {
  list-style-type: none;

  font-size: .8em;
  color: $blue-color;

}
.ordering-options li:hover {
  text-decoration: underline;
}

/*========================
    aside- shop location
=========================*/
.shop-location {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;

}
.shop-location h5 {
  font-weight: bold;
  font-size: .8em;

}
.shop-location-ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 9px;

}
.shop-location-ul li {
  margin-bottom: 7px;
}
.shop-location-ul input[type="radio"] {
  display: none;
}
.shop-location-ul input[type="radio"] +label {
  color: $blue-color;
  font-size: .8em;
}
.shop-location-ul input[type="radio"] +label:hover{
  text-decoration: underline;
}
.shop-location-ul input[type="radio"] +label span {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: bottom;
  background-color: #fff;
  border: 1px solid $light-gray;
  border-radius: 50%;
  position: relative;
}
.shop-location-ul input[type="radio"] +label .radio-button {
  visibility: hidden;
  width: 10px;
  height: 10px;
  background-color: #4ca1c4;
  border-color: #4ca1c4;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

.shop-location-ul input[type="radio"]:checked + label .radio-button{
  visibility: visible;
  color: $dark-color;
}
.shop-location-ul input[type="radio"]:checked + label {
  color: $dark-color;
  font-weight: bold;
}
.choose-custom-location a {
  color: $blue-color;
  font-size: .8em;
  text-decoration: none;
}
.choose-custom-location a:hover {
  text-decoration: underline;
}

/*========================
    aside- ship to
=========================*/
.ship-to {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;

}
.ship-to h5 {
  font-weight: bold;
}

.select-shipping {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 200px;
  height: 35px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
}
.select-shipping select {
  margin-top: 4px;
  padding: 5px 8px;
  font-size: .8em;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-shipping select:focus {
  outline: none;
}
/* =======================
    product section start
==========================*/
.container {
  @include outer-container(980px)
}
.products {
  @include span-columns(9);
}
.product {
  @include span-columns(3 of 9);
  @include omega(3n);
  background-color: #fff;
  @include border();
  margin-bottom: 20px;

}
.product:hover {
  @include shadow-box();
}

.product img {
  width: 100%;
  background-color: $lighter-gray;
  max-height: 160px;
  border: none;
}
.product-info {
  padding: 8px;
}
.description {

  white-space: nowrap;

  overflow-x: hidden;
  text-overflow: ellipsis;
  //height: 16px;
}
.description a {
  color: $dark-color;
  text-decoration: none;
}
.description a:hover {
  text-decoration: underline;
}
.source a{
  color: $light-gray;
  text-decoration: none;

  font-size: 12px;
}
.source a:hover {
  text-decoration: underline;
}
.price {
  font-size: 12px;
  color: $green-color;
  float:right;
}
